*{
	margin:0;
	padding:0;
}
body{
	padding:60px;
	background-color:#f4f4f4;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}
h1{
	font-size:20px;
	color:#31374c;
	width:960px;
	margin:0 auto 20px;
	text-align:center;
}
.slideshow{
	width:480px;
	height:320px;
	margin:0 10px 20px;
	position:relative;
	display:inline-block;
}
/* img要素は絶対配置で一か所に重ねる */
.slideshow img{
	position:absolute;
	top:0;
	left:0;
	border:5px solid #fff;
	opacity:1;
	transition: opacity 0.5s;
}
/* 2番目以降のimg要素にclass="alt"を付け、消す */
.slideshow img.alt{
	opacity: 0;
}
